*{margin:0;padding:0;list-style-type:none;box-sizing: unset;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
a{
    text-decoration: none;
    color: #333;
}

.header{
	height: 155px;
	width: 100%;
}
.header_top{
	height: 90px;
	width: 100%;
	background-color: #fff;
}
.header_logo{
	width: 1080px;
	height: 100%;
	margin: 0 auto;
	padding-right: 18px;
}
.head-bg{
    width: 350px;
    height: 90px;
    float: left;
}
.head-img{
    width: 350px;
    height: 90px;
    float: left;
}
.head-img img{
    width: 303px;
    padding: 10px 0px 3px 0px;
    height: 73.31px;

}
.head-bg img{
     width: 368px;
     margin-left: 95px;
     height: 90px;
 }
.header_nav{
	width: 100%;
	height: 55px;
	background-color: #1565c0;
}
.nav_bar{
	padding-left: 68px;
width: 1190px;
	margin: 0 auto;
	background-color: #1565c0;
	list-style: none;
}
.nav_bar li{
	float: left;
	position: relative;
	background-color: #1565c0;
}
.nav_bar li a:hover{
	background-color: #fff;
}
.nav_bar li a{
	float: left;
	background-color: #1565c0;
	padding: 16px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}
.nav_bar li a:hover{
	color: #1565c0;
}
.nav_bar li:hover .nav_bar_2{
	opacity: 1;
	visibility: visible;
}
.nav_bar_2{
	-moz-box-shadow: 5px 8px 8px #616161; /* 老的 Firefox */
	box-shadow: 5px 8px 8px #616161;
	top: 45px;
	left: -35px;
	visibility: hidden;
	position: absolute;
	list-style: none;
	z-index:3;
	padding-left: 0px;
	padding-top: 5px;
	box-shadow: 0 -1 rgba(255,255,255,.3);
	opacity: 0;
	margin: 10px 0 0 0;
	transition:all .3s ease-in-out;
}
.nav_bar_2 li a:hover{
	background-color: #0d47a1;
	color: #fff;
}
.nav_bar_2 li{
	width:175px;
	height: 35px;
}
.nav_bar_2 li a{
	width: 100%;
	height: 40px;
	font-weight: 100;
	line-height: 40px;
	padding: 0;
	text-align: center;
}
.nav_bar_2 li:first-child> a:before{
	content:'';
	position: absolute;
	left: 75px;
	top: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #1565c0;
}
.nav_bar_2 li:first-child> a:hover:before{
	border-bottom-color:#1565c0; 
}

.container{
	width: 1080px;
	height: auto;
	margin: 0 auto;
	margin-top: 5px;
	padding-bottom: 40px;
}    
.container :after {
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.carousel{
	width: 100%;
	height: 380px;
	background-color: #333;
}
.new_list{
	width: 680px;
	height: 450px;
	float: left;
	border: 1px solid #333;
	margin-top: 20px;
}
.list_item{
	height: 100%;
	width: 45%;
	background-color: #666;
	float: left;
	margin-left: 15px;
}
.video_area{
	height: 450px;
	width: 360px;
	border: 1px solid red;
	background-color: #333;
	margin-top: 20px;
	margin-right: 15px;
	float: right;
}
.footer{
padding-top: 14px;
background-color: #0099CC;

clear: both;
width: 100%;
text-align: center;
color: white;
padding-bottom: 10px;
}
.links_bar{
	height: 100px;
	width: 1080px;
	background-color: #333;
	text-align: left;
	margin: 25px auto;
}
.links_bar li{
	float: left;
	margin:15px;
	font-size: 18px;
}
.links_bar li a{
	text-decoration: none;
	color: #999;
}

.links_bar select{
	height: 34px;
	width: 175px;
	font-size: 16px;
	margin-left: 125px;
}
.footer p{
	  font-size: 14px;
height: 14px;
line-height: 14px;
}
.footer a {
  color: white;
}