body {
    background-color: #eeeeee;
}

.left_list {
    margin-top: 15px;
    width: 150px;
    height: auto;
    float: left;
    background-color: #fff;
}

.left_list li {
    height: 55px;
    line-height: 55px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #1976d2;
}

.left_list li a {
    display: inline-block;
    color: #1976d2;
    font-size: 18px;
    font-family: "微软雅黑";
}

.listspan {
    color: #1976d2;
    padding-right: 10px;
    vertical-align: middle;
}

.lispan {
    color: #1976d2;
    line-height: 55px;
    padding-right: 5px;
}

.left_list li a:hover {
    text-decoration: underline;
}

.first_li {
    background-color: #1976d2;
    color: #fff;
}

.first_li a {
    color: #fff!important;
}

.contant_area {
    margin-bottom: 50px;
    width: 880px;
    height: auto;
    min-height: 500px;
    float: right;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #1976d2;
}

.page_title {
    padding-left: 15px;
    margin-bottom: 10px;
    background-color: #1976d2;
    height: 45px;
    line-height: 45px;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.contant_title {
    text-align: center;
    padding: 15px 15px;
}

.contant_title h1 {
    font-size: 25px;
    font-weight: 100;
    padding-bottom: 15px;
}

.contant_title hr {
    height: 3px;
    border: none;
    border-top: 3px solid #1976d2;
}

.article_area {
    min-height: 350px;
    padding: 0 30px;
}

.article_area img {
    width: 560px;
    height: auto;
    padding: 20px 125px;
}

.article_area video {
    padding: 20px 95px;
}

.article p {
    text-indent: 2em;
}

.btn_area {
    width: auto;
    height: 35px;
    margin: 15px 125px;
    margin-top: 35px;
}

.btn_area button {
    height: 35px;
    min-width: 65px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    outline: none;
    padding: 0 5px;
}

.btn_area button:hover {
    background-color: #2979ff;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.list_area li {
    cursor: pointer;
    padding-left: 25px;
    height: 35px;
    line-height: 35px;
}

.list_area li a {
    color: #333;
}

.list_area li a:hover {
    color: #2979ff;
}

.date {
    float: right;
}

.infor_box {
    height: 150px;
    width: 365px;
    padding-left: 15px;
    margin-left: 20px;
    margin-top: 25px;
    float: left;
    -moz-box-shadow: 8px 8px 8px #9e9e9e;
    /* 老的 Firefox */
    box-shadow: 8px 8px 8px #9e9e9e;
    position: relative;
}

.img_box {
    width: 115px;
    height: 100%;
    float: left;
}

.img_box img {
    padding: 0;
    width: 125px;
    height: 95%
}

.text_box {
    margin-left: 25px;
    width: 210px;
    height: 110px;
    float: left;
}

.text_box p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
}

.text_box h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.detail_btn {
    position: absolute;
    width: 75px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    border: 1px solid #1565c0;
    bottom: 5px;
    left: 155px;
}

.detail_btn a {
    color: #1565c0;
}

.infor_table {
    border: none;
    width: 100%;
}

.infor_table td,
th {
    border: 1px solid #757575;
    width: auto;
    padding: 15px 15px;
    text-align: center;
}